<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>古家原的個人網站</title>

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

    <df-messenger
      intent="WELCOME"
      chat-title="CCL chat"
      agent-id="1ca51d05-d9c7-4bfe-a298-047308a00f95"
      language-code="zh-tw">
    </df-messenger>
</head>

<body>

<h1>古家原的個人首頁</h1>

<a href="/mis">課程資訊</a><br>
<a href="/today">今天日期</a><br>
<a href="/about">關於哲綸</a><br>
<a href="/welcome?u=子青&dep=靜宜資管">GET 傳值範例</a><br>
<a href="/account">帳密 POST 驗證</a><br>
<a href="/math">基礎數學運算</a><br>
<a href="/math2">進階次方與根號</a><br>
<a href="/cup">線上擲茭</a><br>
<a href="/read">Firestore 資料讀取</a><br>
<a href="/search">教師姓名查詢</a><br>
<a href="/spider1">爬取課程</a><br>
<a href="/movie1">爬取即將上映電影</a><br>
<a href="/movie2">爬取電影進資料庫</a><br>
<a href="/movie3">查詢電影資料庫</a><br>
<a href="/rate">本週新片進DB</a><br>
<a href="/road">十大肇事路口</a><br>
<a href="/weather">查詢縣市天氣</a><br>
<a href="/ask">AI詢問</a><br>

<style>
    body {
        text-align: left;
        font-family: Arial, sans-serif;
        padding: 20px;
    }

    h1 {
        text-align: left;
    }

    a {
        color: blue;
        text-decoration: underline;
        display: block;
        margin: 6px 0;
    }
</style>

</body>
</html>
